
.app {
  margin: 0 auto;
}

main {
  margin: 0;
  border-radius: 15px;
  padding: 5px;
  display: flex;
  margin: 40px 40px 40px 40px;
}

.intro {
  background: url("https://miro.medium.com/max/8960/1*0fe-_tN9aX-hyMTAGMToQA.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.signup {
  background: url("https://miro.medium.com/max/8960/1*0fe-_tN9aX-hyMTAGMToQA.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
}

.header {
  text-align: center;
  width: 100%;
  height: 220px;
  display: block;
  background: rgba(235, 181, 181, 0.242);
  border-radius: 15px;
}

.inner_header {
  width: 1000px;
  height: 100%;
  display: block;
  margin: auto;
}

.header h3 {
  padding-bottom: 40px;
  padding-top: 0px;
  font-family: "Times New Roman";
  font-style: italic;
  font-size: 12px;
}

.header h1 {
  padding: 10px;
  font-family: "Times New Roman";
}

a:hover,
a:visited,
a:link,
a:active {
  color: black;
  text-decoration: none;
}

.header NavLink {
  margin-left: 10px;
}

.navigation {
  float: right;
  height: 100%;
}

.navigation li {
  height: 100%;
  display: table;
  float: right;
  padding: 0px 55px;
  font-family: "Times New Roman";
}

.imagescontainer {
  align-items: stretch;
  justify-content: space-around;
  margin-left: 80px;
}

.new-img-form {
  padding: 2rem 1rem;
  margin: 2rem 0;
  background-color: rgba(245, 204, 204);
}

.imgitem {
  list-style: none;
  display: flexbox;
  margin: 1em 1em 1em 2em;
  width: 100%;
}


img {
  flex: 1;
  width: 25%;
  border-radius: 10%;
  margin: 0px 0px 0px 0px;
  padding: 20px;
}

.imgdetails {
  flex: 1;
  border: 1px solid;
  border-color: rgba(235, 181, 181, 0.242);
  border-radius: 15px;
  padding: 15px 15px 15px 15px;
  margin: ablsolute;
  width: 19%;
}

.imgdetails p {
  text-align: center;
  font-size: 11px;
}

.imagepage p {
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 20px;
  color: rgb(36, 35, 35);
}

.imagepage h1 {
  font-family: "Times New Roman";
  text-align: center;
  margin-bottom: 20px;
  margin-top: 40px;
  color: rgb(36, 35, 35);
}

.imagepage img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

.imagepage h1 {
  font-family: "Times New Roman";
  padding-top: 20px;
  text-align: center;
}

.card {
  margin: 1rem;
  display: flexbox;
  margin: 1em 1em 1em 2em;
  width: 100%;
}

* {
  margin: auto;
  padding: 0;
  box-sizing: border-box;
}

input {
  padding: 0.25rem;
  border: none;
  font-family: "Times New Roman";
  font-size: 8px;
  border-bottom: 1px solid rgb(216, 168, 168);
  transition: all 0.2s;
  width: 25%;
  position: center;
  border-radius: 5px;
  margin-left: 5px;
  font-style: italic;
}

.comment input {
  padding: 0.25rem 1rem;
  font-family: inherit;
  border: none;
  cursor: pointer;
}

.searchbar {
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.searchbar label {
  padding-top: 10px;
  display: flex;
  font-family: "Times New Roman", Times, serif;
}

form {
  font-family: "Times New Roman";
  max-width: 550px;
  padding: 20px;
  border: none;
  border-radius: 15px;
  margin-top: 150px;
  border-color: rgb(230, 184, 184);
  background-color: rgb(230, 184, 184);
  font-size: 10px;
  text-align: center;
}

form h1 {
  text-align: center;
  margin-bottom: 40px;
  margin-top: 0px;
  padding-top: 10px;
  font-style: italic;
}

form p {
  text-align: justify;
  margin-bottom: 40px;
  margin: 30px;
  padding-top: 10px;
  font-style: italic;
}

form label {
  text-align: justify;
  font-style: italic;
  font-size: 12px;
  margin-left: 10%;
}

.commentdetails h3 {
  border-radius: 8px;
  border: 1px solid;
  border-color: rgb(230, 184, 184);
  width: 38%;
  font-style: italic;
  font-style: bold;
  text-align: center;
  font-family: "Times New Roman";
  margin-top: 20px;
}

.commentdetails p {
  font-style: bold;
}

select {
  padding: 0.25rem;
  border: none;
  font-family: "Times New Roman";
  font-size: 8px;
  border-bottom: 1px solid rgb(216, 168, 168);
  transition: all 0.2s;
  width: 25%;
  position: center;
}
